$main-color-first: rgb(255,255,255);
$main-color-second: rgb(0,0,0);
$main-color-third: rgb(125, 125, 125);
$cta-color: rgb(42,222,114);
$cta-color-hover: rgb(20, 135, 66);
$nav-scroll-color: rgba(252, 252, 252, 0.744);
$contact-icons-color:rgb(16, 95, 54);
$offer-card-color: rgb(232, 231, 231);